
.header {
  margin-bottom: 15%;
}

.right-box {
  color: rgb(53, 53, 53);
  
}

input[type="text"] {
  margin-bottom: 10px;
  border: 1px solid #17a2b8;
}

input[type="text"]:focus {
  box-shadow: none;
}

.card {
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(120,109,120,0.83);
  -moz-box-shadow: -3px 3px 5px 0px rgba(120,109,120,0.83);
  box-shadow: -3px 3px 5px 0px rgba(120,109,120,0.83);
}

h6 {
  color: #ececec;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-top: 30px;
  }
  .header {
    margin-bottom: 5%;
  }
}